@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

input,
textarea {
  @apply bg-white shadow-sm rounded-md outline-1 outline-neutral-200 px-4 text-sm;
  @apply focus:ring-[3px] focus:ring-offset-2 focus:ring-cyan-600 focus:shadow-md;
}

input {
  @apply h-12;
}

textarea {
  @apply py-4;
}