@import "tailwindcss";

* {
  box-sizing: border-box;
  /* scrollbar-width: thin; */
  /* scrollbar-color: var(--color-cyan-800) var(--color-cyan-100) */
}

body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  background-color: var(--color-cyan-100);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--color-cyan-800);
  /* outline: 1px solid slategrey; */
  border-radius: 9999px
}

input,
textarea {
  @apply bg-white shadow-sm rounded-md outline-1 outline-neutral-200 px-4 text-sm;
  @apply focus:ring-[3px] focus:ring-offset-2 focus:ring-cyan-600 focus:shadow-md;
}

input {
  @apply h-12;
}

input:invalid {
  @apply bg-red-400;
}

textarea {
  @apply py-4;
}

input:disabled,
textarea:disabled
{
  pointer-events: none;
  @apply bg-neutral-200 shadow-none outline-none;
}